body{
    background-color: rgb(241, 239, 194);
}
.title1{
    color: rgb(36, 135, 221);
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
.title2{
    color: aliceblue;
    font-size: 23px;
}
.body-flex{
    flex-direction: column;
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 16%;
}
h1{
    font-size: 100px;
}
button{
    margin-top:5%;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    background-color:rgb(36, 135, 221) ;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    border-color:rgb(36, 135, 221) ;
    border-style: solid;
}